body{
    background: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#heading{
    color: white;
    width: 500px;
    text-align: center;
    margin: auto;
}

#content{
    display: flex;
    background-color: rgba(0,0,0,0.4);
    color:white;
    height: 550px;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    justify-content: space-around;
}

img{
    height: 100px;
    width: 100px;
    border: 3px solid rgba(59, 4, 239, 0);
    border-radius: 40%;
    border-top-left-radius: 10%;
    border-top-right-radius: 0.5%;
    border-bottom-left-radius: 0.5%;
    margin-left: 15px;
    margin-top: 15px;
    
} 

#title{
    color: white;
    display: flex;
    width: 1000px;
    /* background-color: aqua; */
    margin: auto;
    justify-content: space-around;
}